html, body {
box-sizing: border-box;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* ШАПКА */
.header {
    height: 100px;
    background-color: #A8ECFA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #092c46;
    margin-bottom: 50px;
}

/* ОСНОВНОЙ КОНТЕНТ */
main {
    flex: 1 1 auto;
    max-width: 700px;
    margin: 0 auto;
}

.question {
    display: flex;
    min-height: 120px;
    flex-wrap: wrap;
    border-bottom: 1px solid #CAD4DD;
    justify-content: space-between;
    align-items: center;
}

.heading {   
    width: 250px;
    font-weight: 700;
    text-transform: uppercase;
    color: #437091;
    margin-right: 50px;
}
.text {
    width: 250px;
}

.question__list {
    width: 235px;
}

.im {
    display: flex;
}
.im__photo {
    max-width: 200px;
    max-height: 250px;
    margin-right: 30px;
}
.img {
    width: 100%;
    height: 100%;
}
.im__name {
    padding-left: 10px;
    width: auto;
    max-width: 420px;
    font-size: 23px;
    font-weight: 700;
    margin-top: 50px;
}



/* ПОДВАЛ*/

.footer {
    margin-top: 100px;
    height: 150px;
    background-color: #A8ECFA;
}


@media (max-width: 650px) {
html {
    font-size: 14px;
}
 .question {
    justify-content: center;
 }
 .heading, .text {
    width: 200px;
 }
 .question__list {
    width: 160px;
 }
 .heading {
    padding-left: 50px;
 }

    
}